/* Reset básico para garantir consistência entre os navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}

/* Estilos para o header */
header {
    background-color: #ff6347; /* Tom de vermelho alaranjado */
    padding: 15px 0;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

header nav a:hover {
    color: #ffd700; /* Cor dourada ao passar o mouse */
}

/* Estilos para o conteúdo principal */
main {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 80vh; /* Define uma altura mínima para o main */
    flex-direction: column; /* Organiza os itens em coluna */
    text-align: center; /* Garante que o texto dentro do main seja centralizado */
}

/* Página inicial */
.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('images/fundo-home.jpg'); /* Substitua por uma imagem de fundo */
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-content h1 {
    font-size: 3rem;
    text-align: center;
}

/* Estilos para a lista de comidas */
.lista-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.lista-content .comida-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.lista-content .comida-item:hover {
    transform: translateY(-5px);
}

.lista-content .comida-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.lista-content .comida-item .comida-info {
    padding: 15px;
}

.lista-content .comida-item .comida-info h3 {
    font-size: 1.5rem;
    color: #333;
}

.lista-content .comida-item .comida-info p {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
}

/* Estilos de rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}

/* Estilo para as imagens na tabela */
td img {
    width: 100px; /* Largura fixa */
    height: 100px; /* Altura fixa */
    object-fit: cover; /* Assegura que a imagem ocupe totalmente o espaço sem distorcer */
    border-radius: 8px; /* Bordas arredondadas para as imagens */
}
